node_modules
temp
build
dist
.DS_Store
package.ts

# VS Code
.vscode/*
.history/
*.vsix

# IDEA files
.idea

# VIM
Session.vim
.vim/

# Other private editor folders
.nvim/
.emacs/
.helix/

package-lock.json

*.r1cs
*.ptau
*.sym
*.tgz
*.wtns
*.zkey
*.nope

*_js
zkTokenRegistration